{% extends './master_layout/defaut.html' %}
{% block subtitulo %} Sobre Nós {% endblock%}

{% block body %}

<div class="container corpo">

    <p id="text-home" class="indication-page" style="font-size: 30px;"><u>Sobre Nós</u></p>

    <p id="text-home">A LarDoceLar foi fundada em meados de 2014A
        empresa teve início em meados de 2014 com o objetivo
        de facilitar a contratação de trabalhos
        domésticos experientes. Este conceito simples mas
        muito relevante nasceu a partir do desafio que
        muitas famílias enfrentam hoje para manter uma casa
        organizada e livre de problemas. Também se baseia na
        ideia de que as famílias e os indivíduos devem
        despender mais tempo e energias em seus objetivos de
        vida.
    </p>
        
    <p id="text-home">Depois de entender como esse tipo de servi&ccedil;
        fazia sucesso em outros pa&iacute;, decidi dar
        in&iacute; a LarDoceLar. Acredito que todos n&oacute;s
        merecemos a oportunidade de crescer tanto pessoal quanto
        financeiramente. E levamos muito a s&eacute;rio o apoio
        a todos os que trabalham na LarDoceLar. &Eacute; a coisa
        certa a fazer e faz sentido para nós. &Eacute; claro que se
        n&atilde;o continuamos a melhorar nossas
        opera&ccedil;&otilde;es continuamente quer seja
        atrav&eacute;s do uso de tecnologia de
        informa&ccedil;&otilde;es, ou com o uso dos mais
        modernos modos de disponibilizar serviços, n&oacute;s
        nos esfor&ccedil;amos para oferecer a ti o melhor
        servi&ccedil;o.
    </p>

    <div style="text-align: center;" class="div-logo">
        <a  href="/">
            <img class="img-logo-home" src="../../static/img/projeto-uni9.png">
        </a>
    </div>
</div>

{% endblock %}

